<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955596151114-2kicrngb419uhdrg73serm7q26on6pda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955596151114-2kicrngb419uhdrg73serm7q26on6pda</string>
	<key>API_KEY</key>
	<string>AIzaSyBGUsHd5_vJKI_npYdYVf31U2kjdZ2pWaA</string>
	<key>GCM_SENDER_ID</key>
	<string>955596151114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.raavi</string>
	<key>PROJECT_ID</key>
	<string>raavi-64f80</string>
	<key>STORAGE_BUCKET</key>
	<string>raavi-64f80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955596151114:ios:5519432fdeed5eb96549b3</string>
</dict>
</plist>